@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  padding: 60px;
  align-items: center;
  justify-content: space-between;
  margin: 55px;
  background: rgba(183, 222, 237, 1);
  background: -moz-linear-gradient(
    left,
    rgba(183, 222, 237, 1) 0%,
    rgba(33, 180, 226, 1) 23%,
    rgba(113, 206, 239, 1) 56%,
    rgba(183, 222, 237, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(183, 222, 237, 1)),
    color-stop(23%, rgba(33, 180, 226, 1)),
    color-stop(56%, rgba(113, 206, 239, 1)),
    color-stop(100%, rgba(183, 222, 237, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(183, 222, 237, 1) 0%,
    rgba(33, 180, 226, 1) 23%,
    rgba(113, 206, 239, 1) 56%,
    rgba(183, 222, 237, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(183, 222, 237, 1) 0%,
    rgba(33, 180, 226, 1) 23%,
    rgba(113, 206, 239, 1) 56%,
    rgba(183, 222, 237, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(183, 222, 237, 1) 0%,
    rgba(33, 180, 226, 1) 23%,
    rgba(113, 206, 239, 1) 56%,
    rgba(183, 222, 237, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(183, 222, 237, 1) 0%,
    rgba(33, 180, 226, 1) 23%,
    rgba(113, 206, 239, 1) 56%,
    rgba(183, 222, 237, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed', GradientType=1 );
  border-radius: 10px;
}

header > img {
  margin-left: 8%;
  width: 200px;
  height: auto;
  border-radius: 10px;
}
header > nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style: none;
  /* background-color: rgb(255, 255, 255); */
  margin-left: 30%;
  padding-right: 100px;
}
a {
  color: #fffffe;
  font-size: larger;
  font-weight: 400;
  text-decoration: none;
  background-color: #90b4ce;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
a:hover {
  color: #fffffe;
  font-weight: 550;
  background-color: #3da9fc;
}

.hero {
  background-color: #fffffe;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}
.hero > div {
  display: flex;
  background-color: #3da9fc;
  background: -moz-linear-gradient(
    left,
    rgb(4, 137, 177) 0%,
    rgba(4, 170, 220, 1) 21%,
    rgba(33, 180, 226, 1) 37%,
    rgba(113, 206, 239, 1) 56%,
    rgba(113, 206, 239, 1) 67%,
    rgba(183, 222, 237, 1) 89%,
    rgba(183, 222, 237, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(4, 167, 217, 1)),
    color-stop(21%, rgba(4, 170, 220, 1)),
    color-stop(37%, rgba(33, 180, 226, 1)),
    color-stop(56%, rgba(113, 206, 239, 1)),
    color-stop(67%, rgba(113, 206, 239, 1)),
    color-stop(89%, rgba(183, 222, 237, 1)),
    color-stop(100%, rgba(183, 222, 237, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(4, 167, 217, 1) 0%,
    rgba(4, 170, 220, 1) 21%,
    rgba(33, 180, 226, 1) 37%,
    rgba(113, 206, 239, 1) 56%,
    rgba(113, 206, 239, 1) 67%,
    rgba(183, 222, 237, 1) 89%,
    rgba(183, 222, 237, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(4, 167, 217, 1) 0%,
    rgba(4, 170, 220, 1) 21%,
    rgba(33, 180, 226, 1) 37%,
    rgba(113, 206, 239, 1) 56%,
    rgba(113, 206, 239, 1) 67%,
    rgba(183, 222, 237, 1) 89%,
    rgba(183, 222, 237, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(4, 167, 217, 1) 0%,
    rgba(4, 170, 220, 1) 21%,
    rgba(33, 180, 226, 1) 37%,
    rgba(113, 206, 239, 1) 56%,
    rgba(113, 206, 239, 1) 67%,
    rgba(183, 222, 237, 1) 89%,
    rgba(183, 222, 237, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(4, 167, 217, 1) 0%,
    rgba(4, 170, 220, 1) 21%,
    rgba(33, 180, 226, 1) 37%,
    rgba(113, 206, 239, 1) 56%,
    rgba(113, 206, 239, 1) 67%,
    rgba(183, 222, 237, 1) 89%,
    rgba(183, 222, 237, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04a7d9', endColorstr='#b7deed', GradientType=1 );
  width: 30%;
  margin-left: 20px;
  flex-direction: column;
  gap: 10px;
  padding: 22px;
  border-radius: 60px 19px 120px 19px;
  -moz-border-radius: 60px 19px 120px 19px;
  -webkit-border-radius: 60px 19px 120px 19px;
  border: 0px solid #000000;
}
.hero > div > h1 {
  font-size: xxx-large;
  background-color: rgb(255, 255, 255);
  font-weight: 700;
  color: #094067;
  -webkit-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75);
  padding-left: 20px;
  border-top-left-radius: 20px;
}
.hero > div > p {
  background-color: rgb(255, 255, 255);
  font-size: 19px;
  color: #5f6c7b;
  padding: 10px;
  margin-block-end: 30px;
  margin-block-start: 10px;
  font-weight: 400;
  -webkit-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75);
}
.img-hero {
  display: flex;
  justify-content: flex-end;
  width: 600px;
  padding: 50px;
  background-color: rgb(255, 255, 255);
}
button {
  background-color: #094067;
  border-radius: 40px;
  border-style: none;
  color: #fffffe;
  padding: 13px;
  width: 150px;
  height: 30px;
  box-sizing: content-box;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #094067;
    font-size: medium;
    margin: 5px;
    font-weight: 500;
  }
}

/* Background
Elements
Background
#fffffe
Headline
#094067
Paragraph
#5f6c7b
Button
#3da9fc
Button text
#fffffe

Illustration
Stroke
#094067
Main
#fffffe
Highlight
#3da9fc
Secondary
#90b4ce
Tertiary
#ef4565 */

.services {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #fffffe;
}

.services > h1 {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-block-end: 30px;
  color: #094067;
}

.services > p {
  display: flex;
  background-color: #fffffe;
  justify-content: center;
  padding-left: 25%;
  padding-right: 25%;
  color: #5f6c7b;
  font-weight: 450;
  text-align: center;
}

/* .tarjetas {
  display: flex;
  margin: 300px;
  margin-top: 100px;
  flex-wrap: wrap;
  gap: 100px;
}
.cartas {
  background-color: #c1c4c7;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  justify-content: center;
  align-items: flex-start;
  width: min-content;
  gap: 15px;
  } */

.fondo_tarjetas {
  background-color: #fffffe;
}

.cartas > img {
  width: 120px;
  height: auto;
}
.cartas > p {
  display: flex;
  width: 300px;
}

.tarjetas {
  background-color: #fffffe;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  margin-left: 14cm;
  margin-top: 2cm;
}
.cartas {
  background-color: #fffffe;
  padding: 30px;
  display: flex;
  gap: 3px;
  flex-direction: column;
  border-radius: 30px;
  -webkit-box-shadow: 10px 11px 20px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 11px 20px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 11px 20px 1px rgba(0, 0, 0, 0.75);
}
/* Vector */

/* position: absolute;
left: 26.18%;
right: -26.18%;
top: 0%;
bottom: 0%;

background: linear-gradient(175.68deg, #f3f7ff -10.48%, #deeefe 92.66%);
transform: rotate(21.46deg); */
.button-tarjetas {
  display: flex;
  justify-content: center;
  margin-top: 1.3cm;
  margin-left: 8.5cm;
}
